// Post SCSS for the theme.
@font-face {
    font-family: Montserrat;
    src: url([[font:theme|good_dog.woff]]);
}
body{
    background-color: #f7f7f7;
}
a{
  color:$oppia-mid;
  &:hover{
    color:$oppia-dark;
  }
}
.btn-primary {
    background-color: $oppia-mid;
    border-color: $oppia-mid;
}
.btn-secondary, .btn-default {
    color: #373a3c;
    background-color: #fff;
}
.btn, .btn-large, .btn-floating{
    letter-spacing: .5px;
    transition: .3s ease-out;
    -webkit-font-smoothing: antialiased;
}
.btn-primary:hover{
    background: $oppia-light;
}

#page .btn:not(.p-a-0):not(.btn-link), #page .btn-large, #page .btn-floating, .submitbuttons .btn{
    font-family: 'Roboto', sans-serif;
    box-shadow: $card-shadow;
    outline: 0;
    border:none;
    font-size: 14px;
    border-radius: 2px;
    line-height: 36px;
    padding: 0 1rem;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;

    &:hover {
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    }
}

.dropdown-menu, .popover-region-container{
    box-shadow: $card-shadow;
}
.popover-region-messages, .popover-region-notifications{ margin-top: -0.2rem; }
.dropdown-item{
    transition: .4s ease-out;

    &:hover a{
        color: $oppia-mid;
        text-decoration: none;
    }
}
#page-site-index {
    .page-header-headings{ display: none; }
    #page-header .card-block { padding-top: 0.8rem;  }
    &.notloggedin #page-header .card-block{ display: none; }
}
.site-name{ margin-left:0.4em; color:#fff; }
.course_category_tree{
  margin-bottom:1.5rem;
  .category > .info > .categoryname{ padding: 8px 18px; }
} 
h3.categoryname, h4.categoryname{ 
    border-bottom: 1px solid #efefef;
    transition: 700ms all;
    &:hover{
        background-color:#efefef;
    }
}
h3.categoryname{ font-size: 1.45rem; }
h4.categoryname{ font-size: 1.35rem; }
.numberofcourse::first-letter{ color:#ff0000; }
.numberofcourse{
    font-size: .875rem;
    background-color: #888;
    padding: 3px 6px 3px 3px;
    color: #fff;
    margin-left: 9px;
    border-radius: 6px; }
#frontpage-category-names h2{     
    font-size: 1.15em;
    text-transform: uppercase;
    font-weight: bolder;  
}
button[data-action="toggle-drawer"]{
    background: transparent;
    border: none;
    font-size: 1.2em;
    color: #fff;
    margin-right: 0 !important;

    .icon{
      background:transparent !important;
    }
}
button[data-action="toggle-drawer"]:hover{
    background: $oppia-light;
}
nav.navbar{
    background-color: $oppia-mid !important;
    box-shadow: $card-shadow;
    border-bottom: none;
    a.dropdown-toggle{ color:#fff; }
    .nav-link > .icon{ 
        background: $oppia-lighter;
        padding: 6px;
        margin-top: -3px;
        border-radius: 100%;
    }
}

[data-region="drawer"]{
    padding: 0;
    .m-t-1{ 
        margin-top: 0 !important;
        padding-top: 0.2rem;
        background-color: $oppia-light;
    }
    .m-t-1:last-child{
        box-shadow: 0 3px 8px -1px rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 767px){
    [data-region="drawer"]{
        box-shadow: 7px 0 25px rgba(0, 0, 0, 0.35);
    }
}

.list-group-item{
    border:none;
    padding: 0 1.25rem;
    margin-bottom: 0;
    transition: .4s ease-out;

    &:hover{ color: $oppia-mid; }
    &:first-child, &:last-child { border-radius: 0;  }
    & :last-child .m-l-0 { border-bottom-color: #fff; }

    &.active{
      background-color: $oppia-light;
      border-color: $oppia-light;
    }
}
.m-l-0{
    padding: 0.95rem 0;
    border-bottom: 1px solid #ddd;
}
.usermenu{
  margin-left:0.5rem;
  .login a{ color: #fff; }
  .userpicture {
    margin-left: 1rem;
    margin-right:0;
  }
}
.coursebox{
  h3.coursename{ 
    font-size: 1.05rem; 
    font-weight:500;
  }
  .content .summary {
    float:none;
    width:auto;
    img{
      float:left;
      margin-top:0.2rem;
      margin-right:1rem;
    }
  }
} 

#page-header{
    .card{
        background: none;
        border:none;
    }
    .card-body{
        padding: 1.55rem 0 0 0.5rem;
    }
    .dropdown-toggle > .icon{ height: 32px; }
}
.block-region .card{
    border:none;
    border-radius: 2px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    .card-title{
      font-weight: 600;
      font-size: 1rem;
    }
}
.navbar-light .navbar-brand.has-logo{ 
    padding-top: 0; 
    color: #fff;
    transition: all 700ms;
    &:hover {
        color: $oppia-lighter;
    }
}

.navbar-light .navbar-nav{
  .nav-link{
    padding-top: .6rem;
    font-size: 0.775rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .nav-link:hover, 
  .open > .nav-link,
  .open > .nav-link:hover{
    color: #fff !important;
  }
}


.breadcrumb-item {
    float: left;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: "";
    padding-right: 0;
    padding-left:0;
}
.breadcrumb{
  display: inline-block;
  padding: 0;
  li{
    margin-bottom: 3px;
    display: inline-block;
    background: $breadcrumb;
    text-decoration: none;
    position:relative;
    height: 24px;
    line-height:24px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 11px;
    font-size: 13px;
    color:#555;
    transition: .3s ease-out;

    a, a:hover{
      color:inherit;
      text-decoration:none;
      z-indez:30;
    }

    &:nth-child(even){

        background-color: $breadcrumb-even;
        
        &:before{
          border-color:$breadcrumb-even;
          border-left-color:transparent;
         }
        &:after{
          border-left-color:$breadcrumb-even;
        }

    }
    &:first-child{

        padding-left:15px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        &:before{
          border:none;
         }

    }
    &:last-child{

        padding-right:15px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        &:after{
          border:none;
         }

    }
  
      &:before,
      &:after{
        content: "";
        position:absolute;
        top: 0;
        border:0 solid $breadcrumb;
        border-width:12px 6px;
        width: 0;
        height: 0;
        transition: .3s ease-out;
      }
      &:before{
        left:-9px;
        border-left-color:transparent;
      }
      &:after{
        left:100%;
        border-color:transparent;
        border-left-color:$breadcrumb;
      }
      &:hover{
        background-color: $breadcrumb-hover;
        color:#fff;
        
        &:before{
          border-color:$breadcrumb-hover;
          border-left-color:transparent;
         }
        &:after{
          border-left-color:$breadcrumb-hover;
        }
      }

  }
}

.pagination-sm .page-link {
    color:#444;
    &:hover{
      color:#333;
      background-color:$oppia-lighter;
    }
}
.page-item.active .page-link{
  background-color: $oppia-mid;
    border-color: $oppia-mid;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: $oppia-mid;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem $oppia-shadow;
    box-shadow: 0 0 0 0.2rem $oppia-shadow;
}

.nav-tabs .nav-link {
    padding: .5em 0.85em;
    border: 1px solid transparent;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;

    &.active{
          background-color: #f9f9f9;
    }
}
.nav-pills{
  box-shadow: $card-shadow;
  .nav-link.active, .show>.nav-link{
    background-color:$oppia-mid;
  }
}